Body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f0f2;
}

.container{
    width: 30%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgga(0, 0, 0, 0.1);


}

h2{
    text-align: center;
   
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}




.col {
    flex-basis: 45%;
    margin-right: 20px;
    margin-right: 10px;
}

.col:last-child {
    margin-right: 0;
}



label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    appearance: none;
}

button {
    background-color: #BF00FF;
    color: white;
    padding: 10px 45%;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.login-link{
    margin-top: 20px;

    font-size: 14px;
   
}

.login-link a{
    color: #BF00FF;
}


